
de-dial
{
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  color: #fff;
  stroke: #fff;
  fill: none;
  stroke-width: 10px;
}
de-dial .shadow
{
  stroke: #777;
}
de-dial .dial
{
  transform: rotate(-90deg);
}
de-dial .label
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

de-action-btn
{
  display: inline-flex;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #444;
  border-right: 2px solid #444;
  color: #444;
  background-color: #bbb;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
de-action-btn:active
{
  border-top: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  background-color: #999;
}

xde-timer
{
  display: inline-flex;
  gap: 16px;
  width: 100%;
  height: 100%;
  xjustify-content: center;
  xalign-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
xde-timer .counter
{
  position: relative;
}
xde-timer .counter.completed
{
  animation: dedial-spin-y 1s linear;
}
xde-timer .anim-border
{
  position: absolute;
  top: -12px;
  left: -12px;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  stroke-width: 3px;
}
xde-timer .anim-border.days
{
  animation: dedial-spin 100s infinite linear;
}
xde-timer .anim-border.hours
{
  animation: dedial-spin 70s infinite linear;
}
xde-timer .anim-border.minutes
{
  animation: dedial-spin 30s infinite linear;
}
xde-timer .anim-border.seconds
{
  animation: dedial-spin 10s infinite linear;
}
xde-timer .ticks
{
  width: 110px;
  height: 110px;
}
xde-timer .ticks .label
{
  font-size: 32px;
}
xde-timer .ticks .label .text-label
{
  font-size: 14px;
}

de-timer
{
  display:flex;
  justify-content:center;
  font-size: 0;
  border: 1px solid #f00;
  xheight: 200px;
}
de-timer de-dial
{
  position: initial;
  display: initial;
  width: initial;
  height: initial;
  color: initial;
  stroke: initial;
  fill: initial;
  stroke-width: initial;
}
de-timer .label
{
  font-size:1rem;
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  display: none;
}
de-timer .counter
{
  position:relative;
  width:25%;
  border: 1px solid #0f0;
}
de-timer .dial
{
  fill:none;
  rotate:-91deg;
}
de-timer .anim-border
{
  xposition:absolute;
  xleft:0;
  xright:0;
  xtop:0;
  stroke-width:3px;
  stroke:#f00;
}
de-timer .ticks
{
  stroke-width:15px;
  stroke:#000;
  display:inline-block;
  width:86%;
  padding:7%;
  position:relative;
  font-size:0;
  display: none;
}
de-timer .seconds
{
  animation:dedial-spin 10s infinite linear;
}
de-timer .minutes
{
  animation:dedial-spin 30s infinite linear;
}
de-timer .hours
{
  animation:dedial-spin 70s infinite linear;
}
de-timer .days
{
  animation:dedial-spin 100s infinite linear;
}

@keyframes dedial-spin
{
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(-360deg);
  }
}

@keyframes dedial-spin-y
{
  from
  {
    transform: rotateY(0deg);
  }
  to
  {
    transform: rotateY(360deg);
  }
}
