
elem-cube
{
  xposition: fixed;
  pointer-events: none;
  xperspective: 600px;
  xleft: 0;
  xtop: 0;
  xwidth: 100%;
  xheight: 100%;
}
elem-cube .face
{
  border: 1px solid #080;
  position: absolute;
  width: 100px;
  height: 100px;
  xtop: 0;
  xleft: 0;
}
elem-cube [cid=front_face]
{
}
elem-cube [cid=back_face]
{
  transform: translateZ(-100px);
}
elem-cube [cid=top_face]
{
  transform: translateY(-50px) translateZ(-50px) rotateX(-90deg);
}
elem-cube [cid=bottom_face]
{
  transform: translateY(50px) translateZ(-50px) rotateX(-90deg);
}
elem-cube [cid=left_face]
{
  transform: translateX(-50px) translateZ(-50px) rotateY(-90deg);
}
elem-cube [cid=right_face]
{
  transform: translateX(50px) translateZ(-50px) rotateY(-90deg);
}
