@font-face {
  font-family: hyperspace-bold;
  src: url("font/Hyperspace Bold.otf");
}
@font-face {
  font-family: hyperspace;
  src: url("font/Hyperspace.otf");
}
@font-face {
  font-family: octagonal-ultra-light;
  src: url("font/octaul-017.ttf");
}
@font-face {
  font-family: octagonal-light;
  src: url("font/octal-017.ttf");
}
@font-face {
  font-family: octagonal-regular;
  src: url("font/octar-017.ttf");
}
@font-face {
  font-family: octagonal-bold;
  src: url("font/octab-017.ttf");
}

@property --s1 
{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --s2 
{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%;
}
@property --s3
{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%;
}
@keyframes shift-colors 
{
  0% 
  {
    --s1: 0%;
    --s2: 1%;
    --s3: 2%;
  }

  100% 
  {
    --s1: 100%;
    --s2: 101%;
    --s3: 102%;  
  }
}
@keyframes shift-colors-2
{
  0% 
  {
    --s1: 0%;
    --s2: 1%;
    --s3: 2%;
  }

  100% 
  {
    --s1: 100%;
    --s2: 101%;
    --s3: 102%;
  }
}
button, 
de-input-list details,
de-dialog-form dialog,
de-dialog-alert dialog,
.panel .details,
.panel de-form,
.btn
{
  border: 1px solid;
  border-image:
    linear-gradient(to bottom right, var(--border-color) var(--s1), #fff var(--s2), #000 var(--s3)) 1;
  animation: shift-colors 0.25s linear forwards;
}
button:hover,
de-input-list details:hover,
.panel .details:hover,
.panel de-form:hover,
.btn:hover
{
  border: 1px solid;
  border-image:
    /* linear-gradient(to bottom right, #fff var(--s1), var(--border-color) var(--s2)) 1; */
    linear-gradient(to bottom right, #fff var(--s1), #000 var(--s2)) 1;
  animation: shift-colors-2 0.25s linear forwards;
}

:root {
  --main: #4af;
  --border: #fff5;
  --highlight: #fff;
  --highlight2: #f00;
  --shade: #0008;
  --input-text: #0f0;
  --link: #ff0;

  --c0: #fff;
  --c1: #00f;
  --c2: #0f0;
  --c3: #0ff;
  --c4: #f00;
  --c5: #f0f;
  --c6: #ff0;

  --x1: #f00;
  --x2: #ff0;
  --x3: #0f0;
  --x4: #44f;

  background-color: #000;
  font-family: octagonal-bold;
  font-size: 22px;
  letter-spacing: 1px;

  stroke: var(--main);
  color: var(--main);
  text-shadow: var(--main) 0px 0px 10px;

  background-image: url(image/world_map.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ads_elem {
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
  display: none;
}

html
{
  interpolate-size: allow-keywords;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 40px 0 0 0;
  box-sizing: border-box;
}

body>* {
  width: fit-content;
}

header 
{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 
  {
    font-size: 5rem;
    font-family: "Arial";
    margin: 0 30px 20px 30px;
    xbackground-image: linear-gradient(to top, #ff4 15%, #d44 30%, #33a 60%, #000);
    xbackground-image: linear-gradient(to top, #eee 10%, #f00 70%, #000 85%);
    background-image: linear-gradient(to top, #eee 10%, #f00 80%);
    background-clip: text;
    color: transparent;
    text-shadow: none;
    letter-spacing: -22px;
    transform: scaleX(1.8);
  }

  output
  {
    height: 80px;
    display: flex;
    font-size: 2rem;
    color: var(--highlight);
    align-items: center;
  }
}

main
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px 40px 40px;
  box-sizing: border-box;
}

button, .btn 
{
  --border-color: #ff0;
  background-color: #0004;
  color: #ff0;
  font-family: hyperspace-bold;
  padding: 12px 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;

  &.img
  {
    font-size: 0;  
    padding: 8px 8px;  
  }
  &.img-sml
  {
    font-size: 0;  
    padding: 0 0;  
    border: none;
    animation: none;
  }

  .label
  {
    display: none;
  }
}

footer {
  margin: 0 0 20px 0;
}

de-input-list, .panel
{
  display: block;
  width: 100%;
  xpadding: 0 40px 40px 40px;
  padding: 0;
  box-sizing: border-box;

  header
  {
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    h2
    {
      margin: 0;
    }
  }
  header > :first-child 
  {
    flex-grow: 1;
  }

  main
  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  details, .details, de-form
  {
    --border-color: #0f0;
    padding: 20px 20px;
    background: #0008;

    [cid="status_elem"] 
    {
      color: #000;
      background-color: #0f0;
      padding: 5px 10px;
      text-shadow: none;
    }

    &.old
    {
      --border-color: #ff0;;
      
      [cid="status_elem"] {
        color: #000;
        background-color: #fb0;
      }    
    }
    &.failed
    {
      --border-color: #f00;
      opacity: 0.7;

      [cid="status_elem"]
      {
        color: #000;
        background-color: #f33;
      }
    }

    .body
    {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 15px 0 0 0;

      p
      {
        margin: 0;
      }
    }
    .det_item
    {
      margin: 0 0 8px 0;
    }
  }
  details::details-content 
  {
    transition: height 0.3s ease, content-visibility 0.3s allow-discrete;
    height: 0;
    overflow: hidden;
  }
  details[open]::details-content 
  {
    height: auto;
  }

  summary
  {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    h2
    {
      margin: 0;
    }

    .float
    {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu
    {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
  summary > :first-child 
  {
    flex-grow: 1;
  }
}

de-input-tree {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;

  details div {
    margin-left: 20px;
  }

  details {}

  summary {
    padding: 0 0 0 10px;
    margin: 0 0 5px -5px;
    cursor: pointer;
  }

  summary::marker {
    xdisplay: block;
    display: none;
    font-size: 1.6rem;
  }

  label[for] {
    cursor: pointer;
  }

  input[type=checkbox] {
    margin: 0;
    width: 25px;
    height: 25px;
    color: #f00;
    background-color: #f00;
    border: 2px solid #f00;
    cursor: pointer;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
}

de-dialog-form, de-dialog-alert, de-form, de-toolbar-menu
{
  dialog 
  {
    --border-color: #fff;
    border-width: 3px;
    background-color: #000;
    color: var(--main);
    padding: 30px 10px 30px 10px;
    max-height: 90vh;
    max-width: 90vw;
  }
  dialog::backdrop {
    background-color: var(--shade);
  }
  h1 
  {
    font-size: 2rem;
  }
  h2
  {
    margin: 0;
  }
  label {
    margin: 10px 0 0 0;
  }
  input, textarea, select, option
  {
    font-family: octagonal-bold;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0;
    background: none;
    color: var(--input-text);
    border: 1px solid var(--border);
  }
  textarea
  {
    min-height: 200px;
    min-width: 50vw;
  }
  option
  {
    background: #000;
  }
  main 
  {
    gap: 20px;
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: auto;
  }
  header
  {
    margin: 0 0 20px 0;
  }
  footer 
  {
    text-align: center;
    margin: 20px 0 0 0;
  }
  &.wait dialog
  {
    background-color: #f00;
  }
}

de-select-tree {
  display: flex;
  align-items: center;
  gap: 5px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--border);
    padding: 4px;

    button {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
    }
  }

  button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    margin: 0;
    padding: 0 0 0 4px;
  }
}

de-tree {
  font-size: 1.2rem;
  cursor: pointer;
  background: #000;
  border: 4px solid var(--border);
  color: var(--input-text);
  padding: 40px;

  &::backdrop {
    background-color: var(--shade);
  }

  main {
    width: revert;
    display: block;
    flex-direction: revert;
    gap: revert;
    padding: revert;
    box-sizing: revert;
  }

  details {
    margin: 10px 0 0 0;
  }

  details.item>summary {
    list-style: inside square;
  }

  footer {
    padding: 20px 0 0 0;

    button {
      width: unset;
      height: unset;
      min-width: unset;
      min-height: unset;
      padding: 12px 16px;
      margin: unset;
    }
  }
}

de-form
{
  display: block;
}

de-toolbar-menu
{
  display: flex;
  gap: 5px;
}

de-toolbar-menu
{
  dialog 
  {
    width: fit-content;
  }
  main
  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  button
  {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &[compact] button .label
  {
    display: inline-block;
    font-size: 0.85rem;
  }
}

.contact
{
  display: flex;
  align-items: center;
  gap: 10px;
}
.link, a
{
  cursor: pointer;
  text-decoration: underline solid var(--link);
  text-underline-offset: 5px;
  margin: 0 0 5px 0;
  color: var(--main);

  &:hover
  {
    color: var(--link);
  }
  &:visited
  {
    color: var(--main);
  }
}
.attachment-list
{
  margin: 0 0 0 0;

  main
  {
    gap: 0;
    margin: 0 0 0 20px;
  }
  li div, main div
  {
    display: inline-flex;
    gap: 0 5px;
    align-items: flex-start;
  }
}
.hidden 
{
  display: none;
}

/* large screen */
@media screen and (min-width: 768px) {}

/* small screen */
@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  header {
    h1 {
      display: inline-block;
      font-size: 3rem;
      margin: 0 0 10px 0;
    }
  }

  de-dialog-form {
    dialog {
      padding: 0 5px;
    }
  }

  de-input-list {
    padding: 0;
    margin: 10px 0 0 0;
    gap: 0;

    li {
      border-top: 2px solid var(--border);
      border-right: none;
      border-left: none;
      border-bottom: none;
      padding: 15px 0 15px 0;

      .title {
        margin: 0 5px 0 5px;
        gap: 5px;
        align-items: flex-start;
      }

      table {
        margin: 0;
        padding: 0;
        border-spacing: 5px 0;

        .separator {
          display: none;
        }

        td[cid=range_time] {
          display: grid;
        }
      }
    }
  }

  #ads_elem {
    margin: 0;
  }
}