@font-face {
  font-family: hyperspace-bold;
  src: url("font/Hyperspace Bold.otf");
}

@font-face {
  font-family: hyperspace;
  src: url("font/Hyperspace.otf");
}

@font-face {
  font-family: octagonal-ultra-light;
  src: url("font/octaul-017.ttf");
}

@font-face {
  font-family: octagonal-light;
  src: url("font/octal-017.ttf");
}

@font-face {
  font-family: octagonal-regular;
  src: url("font/octar-017.ttf");
}

@font-face {
  font-family: octagonal-bold;
  src: url("font/octab-017.ttf");
}

@property --s1 
{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
@property --s2 
{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 1%;
}
@property --s3
{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 2%;
}
@keyframes shift-colors 
{
  0% 
  {
    --s1: 0%;
    --s2: 1%;
    --s3: 2%;
  }

  100% 
  {
    --s1: 100%;
    --s2: 101%;
    --s3: 102%;  
  }
}
@keyframes shift-colors-2
{
  0% 
  {
    --s1: 0%;
    --s2: 1%;
    --s3: 2%;
  }

  100% 
  {
    --s1: 100%;
    --s2: 101%;
    --s3: 102%;
  }
}
button, 
de-input-list details,
de-dialog-form dialog
{
  border: 1px solid;
  border-image:
    linear-gradient(to bottom right, var(--border-color) var(--s1), #fff var(--s2), #000 var(--s3)) 1;
  animation: shift-colors 0.5s linear forwards;
}
button:hover,
de-input-list details:hover
{
  border: 1px solid;
  border-image:
    linear-gradient(to bottom right, #fff var(--s1), var(--border-color) var(--s2)) 1;
  animation: shift-colors-2 0.25s linear forwards;
}

:root {
  --main: #4af;
  --border: #fff5;
  --highlight: #fff;
  --highlight2: #f00;
  --shade: #0008;
  --input-text: #0f0;

  --c0: #fff;
  --c1: #00f;
  --c2: #0f0;
  --c3: #0ff;
  --c4: #f00;
  --c5: #f0f;
  --c6: #ff0;

  --x1: #f00;
  --x2: #ff0;
  --x3: #0f0;
  --x4: #44f;

  background-color: #000;
  font-family: octagonal-bold;
  font-size: 20px;
  letter-spacing: 1px;

  stroke: var(--main);
  color: var(--main);
  text-shadow: var(--main) 0px 0px 10px;

  background-image: url(image/world_map.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ads_elem {
  height: 80px;
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 40px 0 0 0;
  box-sizing: border-box;
}

body>* {
  width: fit-content;
}

header 
{
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 
  {
    font-size: 5rem;
    font-family: hyperspace;
    margin: 0 0 20px 0;
  }

  output
  {
    height: 80px;
    display: flex;
    font-size: 2rem;
    color: var(--highlight);
    align-items: center;
  }
}

main
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 40px 40px 40px;
  box-sizing: border-box;
}

button 
{
  --border-color: #ff0;
  background-color: #0004;
  color: #ff0;
  font-family: hyperspace-bold;
  padding: 12px 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;

  &.img
  {
    font-size: 0;  
    padding: 8px 8px;  
  }
}

footer {
  margin: 0 0 20px 0;
}

de-input-list
{
  width: 100%;
  padding: 0 40px 40px 40px;
  box-sizing: border-box;

  &.hidden 
  {
    display: none;
  }

  header
  {
    margin: 0 0 20px 0;
    flex-direction: row;
    gap: 10px;
  }

  main
  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  details
  {
    --border-color: #0f0;
    padding: 20px 20px;
    background: #0008;
    
    &.failed
    {
      --border-color: #f00;
    }
  }

  summary
  {
    position: relative;
    cursor: pointer;

    .float
    {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

de-input-tree {
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;

  details div {
    margin-left: 20px;
  }

  details {}

  summary {
    padding: 0 0 0 10px;
    margin: 0 0 5px -5px;
    cursor: pointer;
  }

  summary::marker {
    xdisplay: block;
    display: none;
    font-size: 1.6rem;
  }

  label[for] {
    cursor: pointer;
  }

  input[type=checkbox] {
    margin: 0;
    width: 25px;
    height: 25px;
    color: #f00;
    background-color: #f00;
    border: 2px solid #f00;
    cursor: pointer;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
  }
}

de-dialog-form, de-dialog-alert 
{
  dialog 
  {
    --border-color: #fff;
    border-width: 3px;
    background-color: #000;
    color: var(--main);
    xwidth: 400px;
    padding: 40px;
  }

  dialog::backdrop {
    background-color: var(--shade);
  }

  h1 {
    font-size: 2rem;
  }

  label {
    margin: 10px 0 0 0;
  }

  input, textarea, select, option
  {
    font-family: octagonal-bold;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 0;
    background: none;
    color: var(--input-text);
    border: 1px solid var(--border);
  }
  option
  {
    background: #000;
  }

  main {
    gap: 10px;
    padding: 0 0 40px 0;
    display: flex;
    flex-direction: column
  }

  footer {
    text-align: center;
  }

  &.wait dialog
  {
    background-color: #f00;
  }
}

de-select-tree {
  display: flex;
  align-items: center;
  gap: 5px;

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--border);
    padding: 4px;

    button {
      width: 24px;
      height: 24px;
      min-width: 24px;
      min-height: 24px;
    }
  }

  button {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    padding: 0;
    margin: 0;
    padding: 0 0 0 4px;
  }
}

de-tree {
  font-size: 1.2rem;
  cursor: pointer;
  background: #000;
  border: 4px solid var(--border);
  color: var(--input-text);
  padding: 40px;

  &::backdrop {
    background-color: var(--shade);
  }

  main {
    width: revert;
    display: block;
    flex-direction: revert;
    gap: revert;
    padding: revert;
    box-sizing: revert;
  }

  details {
    margin: 10px 0 0 0;
  }

  details.item>summary {
    list-style: inside square;
  }

  footer {
    padding: 20px 0 0 0;

    button {
      width: unset;
      height: unset;
      min-width: unset;
      min-height: unset;
      padding: 12px 16px;
      margin: unset;
    }
  }
}

/* large screen */
@media screen and (min-width: 768px) {}

/* small screen */
@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  header {
    h1 {
      display: inline-block;
      font-size: 3rem;
      margin: 0 0 10px 0;
    }
  }

  de-dialog-form {
    dialog {
      padding: 0 5px;
    }
  }

  de-input-list {
    padding: 0;
    margin: 10px 0 0 0;
    gap: 0;

    li {
      border-top: 2px solid var(--border);
      border-right: none;
      border-left: none;
      border-bottom: none;
      padding: 15px 0 15px 0;

      .title {
        margin: 0 5px 0 5px;
        gap: 5px;
        align-items: flex-start;
      }

      table {
        margin: 0;
        padding: 0;
        border-spacing: 5px 0;

        .separator {
          display: none;
        }

        td[cid=range_time] {
          display: grid;
        }
      }
    }
  }

  #ads_elem {
    margin: 0;
  }
}