de-line-chart
{
  xwidth: 180px;
  xheight: 180px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  xborder: 2px solid #a00;
  xborder-radius: 100%;
  font-size: 0;

  svg[cid="svg"]
  {
    height: 65%;
    width: 65%;
    xborder: 1px solid #f00;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  svg.trend-up .data-line
  {
    --c0: #080;
  }
  svg.trend-down .data-line
  {
    --c0: #a00;
  }
  svg.trend-flat .data-line
  {
    --c0: #880;
  }

  .title
  {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transform: none;
    background-image: none;
    background-clip: initial;
    z-index: 1;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    text-align: center;
    background-color: #0006;
    padding: 5px;

    .trend
    {
      width: 40px;
      height: 40px;
    }
  }

  .input-mask 
  {
    display: none;
    stroke: none;
    fill: #0000;
  }
  .highlight 
  {
    /*visibility: hidden;*/
    display: none;
    stroke: none;
    fill: #ff08;
  }
  .axis-label 
  {
    stroke: none;
    fill: #fff;
    font-size: 1rem;
  }

  .data-line 
  {
    --c0: #fff;
    stroke-width: 6px;
    fill: none;
  }

  .data-point 
  {
    stroke: none;
    fill: none;
  }

  .axis-line 
  {
    stroke: var(--main);
    stroke-width: 1px;
  }
}
