<button cid="sel_filters_btn" type="button" title="Select Filters" class="img">
  <img src="./image/filter.svg">
</button>

<ul cid="summ_elem" style="display:none;">
  <li name="is_active">
    <de-field field-label="Currently Active"></de-field>
    <button type="button" class="img"><img src="./image/close.svg"></button>
  </li>
  <li name="match_str">
    <de-field field-label="Matching"></de-field>
    <button type="button" class="img"><img src="./image/close.svg"></button>
  </li>
  <li name="contact_name">
    <de-field field-label="Contact"></de-field>
    <button type="button" class="img"><img src="./image/close.svg"></button>
  </li>
</ul>

<de-dialog-form cid="filter_form">
  <de-filter-bool name="is_active" label="Currently Active" slot="fields"></de-filter-bool>
  <de-filter-str name="match_str" label="Matching" slot="fields"></de-filter-str>
  <de-filter-select name="contact_name" label="Contact" slot="fields"></de-filter-select>
</de-dialog-form>