de-filter
{
  display: flex;
  gap: 5px;

  ul[cid=summ_elem]
  {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
    flex-wrap: wrap;

    li
    {
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid var(--border);
      padding: 0 5px 0 10px;
    }
  }

  de-dialog-form
  {
    dialog
    {
      padding: 15px 20px 20px 20px;

      form
      {
        main[cid=main_elem]
        {
          gap: 10px;

          & > :first-child
          {
            align-self: start;
          }
        }

        footer
        {
          display: flex;
          gap: 5px;

          button
          {
            --border-color: #ff0;
          }
        }
      }
    }
  }
}