de-edit-text
{
  display: flex;
  align-items: center;
  gap: 5px;

  dialog
  {
    padding: 20px;

    header
    {
      text-align: center;
      margin: 0 0 10px 0;
    }
    main
    {
      padding: 0 0 10px 0;
      gap: 10px;

      div
      {
        font-size: 1.3rem;
      }
      input
      {
        padding: 5px 10px;
        width: 50vw;
      }
    }
    footer
    {
      display: flex;
      justify-content: center;
      gap: 10px;

      button
      {
        padding: 5px 10px;
        color: #000;
        cursor: pointer;

        &[cid="cancel_btn"]
        {
          background-color: #f00;
        }
        &[cid="ok_btn"]
        {
          background-color: #0f0;
        }
      }
    }

    &::backdrop
    {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .img-btn
  {
    font-size: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;

    img 
    {
      opacity: 0.3;
    }
  }
}    

@media print
{
  de-edit-text .img-btn
  {
    display: none;
  }
}