shape-list
{
  display: inline-block;
}

shape-list #table
{
  display: none;
  background-color: var(--aqua);
  color: #000;
  overflow: auto;
  padding: 30px 30px 30px 30px;
  max-height: 40vh;
  box-shadow: 0 0 10px 5px #0004;
  border-top: 2px outset #fff5;
}
shape-list #table.show-list
{
  display: block;
}
shape-list table
{
  width: 100%;
  border-collapse: collapse;
}
shape-list th
{
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  font-size: 35px;
  padding: 0px 12px 10px 12px;
  text-align: left;
}
shape-list td
{
  padding: 4px 12px;
  border-top: 1px solid #000;
  text-align: left;
}
shape-list td.btns
{
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  border: none;
}

shape-list .selected
{
  background-color: #0f04;
}

shape-list #panel_elem
{
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 0px;
  right: 0px;
  width: 100%;
}
shape-list #summ_elem
{
  color: #000;
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 46px;
  padding: 5px 10px 10px 10px;
}
shape-list #btn_bar
{
  text-align: right;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: row;
}
