de-contact-details
{
  h3
  {
    margin: 0;
  }

  &[view-type="compact"]
  {
    display: flex;

    de-field[field-type="link-linkedin"]
    {
      [cid="value_elem"]
      {
        font-size: 0;

        a
        {
          margin: 0;
        }
      }
    }
  }
}