<div cid="status_label">None</div>
<div class="options">
  <button value="accepted" class="active" type="button">Accepted</button>
  <button value="applied" class="active" type="button">Applied</button>
  <button value="applying" class="active" type="button">Applying</button>
  <button value="bookmarked" class="active" type="button">Bookmarked</button>
  <button value="interviewing" class="active" type="button">Interviewing</button>
  <button value="offered" class="active" type="button">Offered</button>
  <button value="negotiating" class="active" type="button">Negotiating</button>
  <button value="screening" class="active" type="button">Screening</button>

  <button value="cancelled" class="failed" type="button">Cancelled</button>
  <button value="expired" class="failed" type="button">Expired</button>
  <button value="ghosted" class="failed" type="button">Ghosted</button>
  <button value="dismissed" class="failed" type="button">Not Interested</button>
  <button value="rejected" class="failed" type="button">Rejected</button>
  <button value="withdrawn" class="failed" type="button">Withdrawn</button>

  <button value="" class="none" type="button">None</button>
</div>