
de-dial
{
  position: absolute;
  transform: rotate(-90deg);
  pointer-events: none;
  transition: opacity 1.5s;
  opacity: 0;
  stroke-width: 6px;
}
de-dial.show-dial
{
  opacity: 1;
}
de-dial[cid=sec_dial]
{
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  stroke: #dd0;
  transform: rotate(-90deg) translateZ(-45px);
}
de-dial[cid=min_dial]
{
  width: 140px;
  height: 140px;
  top: 5px;
  left: 5px;
  stroke: #f80;
  transform: rotate(-90deg) translateZ(-30px);
}
de-dial[cid=hr_dial]
{
  width: 130px;
  height: 130px;
  top: 10px;
  left: 10px;
  stroke: #f00;
  transform: rotate(-90deg) translateZ(-15px);
}
.millis-dial
{
  position: absolute;
  transform: translateZ(-60px);
  pointer-events: none;
  transition: opacity 1.5s;
  opacity: 0;
  width: 180px;
  height: 180px;
  stroke: #0f0;
}
.millis-dial.show-dial
{
  opacity: 1;
}
.millis-dial-anim
{
  animation: rotation 15s infinite linear;
}

@keyframes rotation 
{
  from 
  {
    transform: rotate(0deg) translateZ(-60px);
  }
  to 
  {
    transform: rotate(359deg) translateZ(-60px);
  }
}
