xde-counter
{
  display: inline-block;
  width: 150px;
  height: 150px;
  color: #000;
  stroke: #000;
  fill: none;
  stroke-width: 10px;
}

de-timer .counter.completed
{
  animation: dedial-spin-y 1s linear;
}

de-timer-compact.completed
{
  animation: dedial-spin-y 1s linear;
}

@keyframes dedial-spin
{
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }
}

@keyframes dedial-spin-y
{
  from
  {
    transform: rotateY(0deg);
  }
  to
  {
    transform: rotateY(360deg);
  }
}

@keyframes dedial-zoom
{
  from
  {
    transform: scale(0.5);
  }
  to
  {
    transform: scale(5);
  }
}

@keyframes dedial-zoom-spin
{
  from
  {
    transform: scale(0.5) rotate(0deg);
  }
  to
  {
    transform: scale(5) rotate(180deg);
  }
}
